body {
    background-color: white;
}
nav {
    padding: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-fluid {  
    background-color: white;
    padding: 1% 2% 0% 2%; /*  top right bottom left  */
    margin: 0%;
}
.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_homepage_div{
    background-color: antiquewhite;
    margin-right: 25%;
    margin-left: 20%;
    /* height: 60em; */
    display: flex;
    justify-content: space-around;
    border: 2px solid gray;
}
.carousel-inner, #carouselExampleIndicators {
    display: flex;
    height:290px;
    width: 550px;
    align-items: center;
    padding: 1em;
}

.inner_middle_div {
    /* background-color: yellowgreen; */
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 2px solid gray;
    height: 44px;
}
.carousel_and_middle_div {
    border-right: 2px solid gray;
    height: 1800px;
} 
.inner_right_div {
    /* background-color: burlywood; */
    display: flex;
    padding: 1em;
    flex-direction: column;
    align-items: flex-start;
}
.inner_right_pics, .inner_middle_pics, .inner_right_bottom_pics {
    /* background-color: white; */
    display: flex;
    flex-direction: row;
    margin: 2px;
    padding: 1%;
}
.inner_right_pics_text, .inner_right_bottom_pics_text {
    padding: 1% 5% 0% 3%;  /*  top right bottom left  */
    width: 15em;
}
.pic {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.picture {
    margin-left: 50%;
    margin-right: 50%;
    /* width: 200%; */
}
.inner_middle_pics_text {
    padding: 1%;
    margin: 1%;
    flex-direction: column;
    font-size: 80%;
}
.resise_text {
    font-size: 68%;
}
.resize_pic {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 210%;
}
.resize_pic1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 20%;
}
.inner_right_coming_soon {
    border-top: 2px solid gray;
}